@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Playwrite+ES&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Playwrite+ES&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lugrasimo&family=Playwrite+ES&display=swap');






\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

* {
    font-family: "Lugrasimo", cursive;
    --bg-primary: rgb(141, 141, 141);
    overflow-x: hidden;
    --clr: #1e9bff;
    margin: 0;
    padding: 0;
    --paper: #f7da88;
    
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    background-image: url(../images/quest-paper.jpg);
    background-color: #d3a970;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.9s;
    margin: auto;
    font-family: "Pixelify Sans", sans-serif;
    top: 0;
    left: 0;
    border-right: 0.1px solid black;
    text-align: center;
    z-index: 6;
}

body {
  margin: 0;
}


.sidenav a {
    text-decoration: none;
    font-size: 1rem;
    color:rgb(0, 0, 0);
    transition: 0.3s;
    display: block;
    padding-right: 0;
}

.closebtn {
  margin-top: 0.4rem;
  padding: 0px 8px 0px 0px;
  transform: rotate(90deg);
  transition: 0.7s;
}

.menu_Item {
    display: block;
    padding: 12px 12px 12px 12px;
    margin: 10px 0px 40px 0px;
    font-size: 1rem;
    padding: 3%;
    width: 100%;
}

.sidenav .menu_Item:hover{
    color: #f1f1f1;
    padding: 8px 0px 8px 0px;
    background-color: #d4be9e;
}

  .sidenav .closebtn:hover {
    transform: rotate(0deg);
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  
  .upgrades a {
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    transition: 0.3s;
    display: block;
    padding-right: 0;
  }

  .menu_container {
    display: inline-block;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    margin-left: 1.2rem;
    justify-content: end;
  }

  .bar1, .bar2, .bar3 {
    width: 1.5rem;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    margin-bottom: 0.24rem;
    border-radius: 1rem;

  }

  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 10px;}
    .sidenav a {font-size: 10rem;}

  }

  .upgrades {
    display: flexbox;
    margin-left: auto;
    width: 10rem;
  }


  .top_bar {
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(../images/brown-paper.jpeg);
    width: 100%;
    height: 4rem; 
  }


  button {
    font-family: "Arbutus", serif;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow:
      inset -2px 2px 1px 1px grey,
      inset -2px -2px 1px 1px lightgray,
      inset 2px 0px 1px 1px lightgray;
  }

  button:hover{
    box-shadow:
      inset -2px 2px 1px 1px lightgray,
      inset -2px -2px 1px 1px gray,
      inset 2px 0px 1px 1px gray;
  }
  

  .tooltip {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    top: calc(100% + 0.8rem); /* Position the tooltip below the element */
    left: 50%; /* Center the tooltip horizontally */
    transform: translateX(-50%); /* Adjust the horizontal position */
    visibility: hidden;
    width: 15vw;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  

  .tooltip .tooltiptext1 {
    top: -5px;
    left: 105%;
    visibility: hidden;
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext{
    visibility: visible;
  }
  .tooltip:hover .tooltiptext1{
    visibility: visible;
  }




.starting_buttons {
  margin-top: 25%;
  text-align: center;

}

.starting {
  width: 30%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  text-shadow: 0px 0.5px 0px #000;
  letter-spacing: 0.1rem;
  transition: 0.3s;
  text-decoration: none;
  color: white;
  padding: 0.5rem 0 0.5rem 0;

}

.starting:hover{
  background: var(--clr);
  letter-spacing: 0.15rem;
  box-shadow: 0 0 35px var(--clr);

}

.boss{
  position: relative;
  top: 200px;
  left: 300px;
}

/* .enemies {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set the height to the full viewport height */
/* }


#enemy {
  background-image: url('enemy.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  width: 100px;
  height: 100px;
  cursor: pointer; */
/* }


#enemy:hover {
  transform: scale(1.1); /* Slightly increase the size on hover */
/* } */

#canvas1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #521400 10px solid;
  background-color: wheat;
  border-radius: 2rem;
  height: 75%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 15rem;
  background-image: url(../images/vintage-paper.avif);

}

.upgrades_div {
  z-index: 0;
  position: fixed;
  right: 0;
  top: 4rem;
  background-image: url(../images/quest-paper.jpg);
  height: 100%;
  width: 20%;
  text-align: center;
  border-left: 0.2rem rgb(48, 48, 48) double;
  border-radius: 0.2rem;
}

.upgrades_div button{
  width: 16rem;
}

#gold {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.stats_icon {
  display: inline-block;
  height: 2rem;
  margin-top: 3rem;
}

.gold_plate_background {
  font-family: "Lugrasimo", cursive;
  width: 100%;
  background-image: url(../images/gold-plate.jpg);
  border: 0.1rem rgb(48, 48, 48) solid;
  border-radius: 0.2rem;
  padding-bottom: 3rem;
}

.upgrades_div p{
  font-size: 2rem;
  align-items: center;
}


.status{
  width: 80%;
  background-color: white;
  font-size: 1.5rem;
  box-shadow:
      inset -2px 2px 1px 1px grey,
      inset -2px -2px 1px 1px lightgray,
      inset 2px 0px 1px 1px lightgray;
  margin-left: 8%;
}

.stage_setting {
  position: absolute;
  bottom: 10%;
  left: 6%;
}


#market_canvas {
  border: 4px solid black;
  width: 300px;
  height: 300px;
  background-color: rgb(255, 255, 255);
}

.player_stats {
  position: fixed;
  width: 20%;
  top: 4rem;
  background-image: url(../images/quest-paper.jpg);
  height: 100%;
  text-align: center;
  border-right: 0.2rem black double;
  z-index: 1;
}

p {
  font-family: "Lugrasimo", cursive;
}


.wood_plate_background {
  font-family: "Lugrasimo", cursive;
  width: 100%;
  background-image: url(../images/wood_plate.avif);
  border: 0.2rem black double;
  border-radius: 0.2rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.wood {
  font-size: 2rem;
  margin-bottom: 3rem;
}
 
.strength_add{
  display: flex;
  width: 40%;
  padding: 0;
  height: 5%;
}

.add_button {
  margin-top: 3.9%;
  font-size: 0.8rem;
  width: 2rem;
  height: 2rem;
}

.stamina_add{
  display: flex;
  width: 40%;
  padding: 0;
  height: 5%;
}

.stats_add{
  position: relative;
  top: 20%;
  left: 40%;
  
}

.amount_skillp{
  position: relative;
  left: 2%;
  top: 10%;
  font-size: 2rem;
}

.skill_point_menu {
  height: 0;
  width: 100%;
  position: fixed;
  background-image: url(../images/quest-paper.jpg);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.9s;
  margin: auto;
  font-family: "Pixelify Sans", sans-serif;
  bottom: 0;
  left: 0;
  border-right: 0.1px solid black;
  text-align: center;
  z-index: 5;
}

.skill_point_menu .closebtn:hover {
  color: rgb(255, 255, 255);
  transform: rotate(0deg);
}

.skill_point_menu .closebtn {
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 25px;
  font-size: 3rem;
  margin-left: 50px;
  transition: 0.3s;
  padding: 0;
  margin: 0;
  color: black;
}

.upgrade_how_much{
  display: flex;
}

.canvas_list {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 90%;
  height: 50%;
  margin-top: 10rem;
}

.start_buttons{
  display: flex;
  margin-top: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start_button{
  text-decoration: none;
  width: 50rem;
  padding: 1rem 20rem 1rem 20rem;
  border: solid 2px black;
  color: black;
}

#market_store {
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top:70%;
  left:12%;
  width: 30rem;
  height: 30rem;
}
#market_text {
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  top:70%;
  left:32%;
  width: 30rem;
  height: 30rem;
}
#random_text {
display: block;
position: absolute;
transform: translate(-50%,-50%);
top: 98%;
left: 31%;
width: 30rem;
height: 30rem;
font-size: 16px;
font-weight: bold;
text-align: center;
padding-top: 50px;
}

#status_button{
display: flex;
margin: auto;
justify-content: center;
width: 40%;
padding: 5rem 0 5rem 0;
margin-top: 10%;
border: red solid 2px;
}

#market_store {
position: absolute;
left: 75%;
top: 30%;
}

#market_text {
position: absolute;
left: 90%;
top: 30%;
}

#random_text{
position: absolute;
left: 89%;
top: 53%;
}

.item_list {
position: fixed;
border: black solid 2px;
height: 100%;
width: 20rem;
overflow-x: hidden;
justify-content: center;
text-align: center;
}

.market_item {
width: 85%;
height: 5%;
}

.canvas_stats {
margin-right: 2rem;
width: 12rem;
margin: auto;
text-align: center;
}

#market_price {
font-family: "Bebas Neue", sans-serif;
font-size: 2rem;
color: gold;
text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
  1px 1px 0 black;
}

#dmg_display {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: rgb(201, 0, 0);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
  1px 1px 0 black;
}

.market_icons {
    display: inline-block;
    height: 3rem;
  
}

#purchaseItem {
  justify-content: center;
  display: flex;
  margin: auto;
  width: 300px;
}

#market_gold {
  font-size: 1.5rem
}

#play_audio_1 {
  width: 5rem;
}