@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,600&family=Pixelify+Sans:wght@400..700&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Playwrite+ES&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Playwrite+ES&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lugrasimo&family=Playwrite+ES&display=swap');






\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\


/*This is the overall style that applies to everything unless specifically reassinged*/
* {
    overflow-x: hidden; /*Hides any scroll bar at the bottom of the nav bar*/
    font-family: "Lugrasimo", cursive; /*Sets the font of any text*/
    --bg-primary: rgb(141, 141, 141); /*Sets the variable "--bg-primary" to be this color for future use*/
    --clr: #1e9bff;
    margin: 0; /*Sets all margin to 0 unless spefically reassigned*/
    padding: 0; /*Sets all padding to 0 unless spefically reassigned*/
    --paper: #f7da88;
    user-select: none; /*Makes all text not selectable or not highlightable*/
    
}


/*Adjusts the style for the nav on the side*/
.sidenav {
    height: 100%; /*Makes the nav bar cover the whole height of the page*/
    width: 0; /*Makes the nav bar not visible unless they press the menu button*/
    position: fixed; /*Makes the nav bar stay in place even when scrolled down or side*/
    background-image: url(../images/quest-paper.jpg); /*Sets the image of the background to be quest-paper.jpg*/
    background-color: #d3a970; 
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.9s; /*Adjusts the speed in which the nav bar slides out when menu button is clicked*/
    margin: auto; /*Centers the nav bar*/
    font-family: "Pixelify Sans", sans-serif; /*Sets the font of anything in the nav bar to be this font*/
    top: 0; 
    left: 0;
    /*Sets the distance of the nav bar to the top to be 0, and to the left to be 0 (Makes nav bar allign with the top left of the page)*/
    border-right: 0.1px solid black; /*Sets only the border on the right to me solid, black and 0.1px*/
    text-align: center; /*Makes all text in the nav bar to be centered*/
    z-index: 1000; /*Makes this the first priority in terms of z-index (Appears on top of everything)*/
}



body {
  margin: 0;
}

/*Adjusts the styling of the anchor tags in the nav bar*/
.sidenav a {
    text-decoration: none; /*Makes the anchor tag have no underline*/
    font-size: 1rem;
    color:rgb(0, 0, 0); /*Changes the anchor tag from its typical blue color*/
    transition: 0.3s; /*Changes the speed of the hover effect*/
    display: block; 
    padding-right: 0;
}

/*Adjusts the style of the close button in the nav bar*/
.closebtn {
  margin-top: 0.4rem;
  padding: 0px 8px 0px 0px;
  transform: rotate(90deg); /*Rotates the "X" button by 90 degrees when hovered over*/
  transition: 0.7s;
}

/*Adjusts the style for the pages in the side nav bar*/
.menu_Item {
    display: block;
    padding: 12px 12px 12px 12px;
    margin: 10px 0px 40px 0px;
    font-size: 1rem;
    padding: 3%;
    width: 100%;
}

/*Adjusts the style for menu items when hovered over*/
.sidenav .menu_Item:hover{
    color: #f1f1f1; /*Changes the text color from black to white when hovered over*/
    padding: 8px 0px 8px 0px; /*Enlarges the padding/hitbox when hovered over*/
    background-color: #d4be9e; /*Adds a background color when hovered*/
}

/*Adjusts the style for close button when hovered over*/
  .sidenav .closebtn:hover {
    transform: rotate(0deg); /*Rotates the close button back to normal when hovered over*/
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

/*Adjusts the style for the container which holds the menu button*/
  .menu_container {
    display: inline-block;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    margin-left: 1.2rem;
    justify-content: end;
    padding: 0 0.5rem 1.3rem 0.5rem;
    
  }

/*The divs that make the menu button look like a menu button*/
  .bar1, .bar2, .bar3 {
    width: 1.5rem;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0.24rem;
    border-radius: 1rem; /*Rounds the edges of the "bars" in the icon*/
  }

  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 10px;}
    .sidenav a {font-size: 10rem;}

  }

/*Adjusts the style of the nav bar at the top of the screen*/
  .top_bar {
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(../images/brown-paper.jpeg);
    width: 100%;
    height: 4rem; 
  }

/*Adjusts the general style of all buttons in the html*/
  button {
    font-family: "Arbutus", serif; /*Changes the font of buttons*/
    padding: 0.5rem 0.5rem 0.5rem 0.5rem; /*Give more space in buttons*/
    box-shadow: /*Makes the button look more 3d by adding shadows*/
      inset -2px 2px 1px 1px grey,
      inset -2px -2px 1px 1px lightgray,
      inset 2px 0px 1px 1px lightgray;
  }

/*Adjusts the style of buttons when it's hovered on*/
  button:hover{
    box-shadow: /*Changes the direction of the shadow when hovered*/
      inset -2px 2px 1px 1px lightgray,
      inset -2px -2px 1px 1px gray,
      inset 2px 0px 1px 1px gray;
  }
  

  .tooltip {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    top: calc(100% + 0.8rem); /* Position the tooltip below the element */
    left: 50%; /* Center the tooltip horizontally */
    transform: translateX(-50%); /* Adjust the horizontal position */
    visibility: hidden;
    width: 15vw;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 900;
  }
  
  
/*Adjusts the style of the text in the tooltip when hovering over a feature*/
  .tooltip .tooltiptext1 {
    top: -50px;
    left: 0;
    visibility: hidden; /*Hides the text when not hovered on*/
    width: 120px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  


  .tooltip:hover .tooltiptext{
    visibility: visible;
  }
  .tooltip:hover .tooltiptext1{
    visibility: visible;
  }
/*Makes the text visible when hovered on*/


/*Styles the canvas in which the enemy appears on*/
#canvas1 {
  position: absolute; /*Positions the canvas relative to the nearest positioned ancestor*/
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: #521400 10px solid;
  background-color: wheat;
  border-radius: 1.5rem;
  height: 75%;
}


.upgrades_div {
  z-index: 0;
  position: fixed;
  right: 0; /*Aligns the skills section to the whole page*/
  top: 4rem; /*Makes the nav bar still appear visible even when the skill menu is up*/
  background-image: url(../images/quest-paper.jpg);
  height: 100%;
  width: 20%;
  text-align: center; /*Aligns all text in the skill points menu to the center*/
  border-left: 0.2rem rgb(48, 48, 48) double;
  border-radius: 0.2rem; /*Rounds the edges of the border*/
}

/*Adjusts the width of the buttons in the Upgrades section*/
.upgrades_div button{
  width: 16rem;
}

/*Adjusts the size of the Gold display*/
#gold {
  font-size: 2rem;
  margin-bottom: 3rem;
}

/*Makes the size of the stats icon to be the same*/
.stats_icon {
  display: inline-block;
  height: 2rem;
  margin-top: 3rem;
}

/*Makes the gold background fit the whole top of the div*/
.gold_plate_background {
  font-family: "Lugrasimo", cursive;
  width: 100%;
  background-image: url(../images/gold-plate.jpg);
  border: 0.1rem rgb(48, 48, 48) solid;
  border-radius: 0.2rem;
  padding-bottom: 3rem;
}

/*Adjusts the font size of text in the upgrades section*/
.upgrades_div p{
  font-size: 2rem;
  align-items: center;
}

/*Adjusts the box size that displays the player's stats*/
.status{
  width: 80%;
  background-color: rgb(240, 236, 236);
  font-size: 1.5rem;
  box-shadow: /*Makes the box look 3d by giving it shadows*/
      inset -2px 2px 1px 1px grey,
      inset -2px -2px 1px 1px lightgray,
      inset 2px 0px 1px 1px lightgray;
  margin-left: 8%;
}

/*Adjusts the style of the box that contains tooltip text.*/
.stage_setting {
  position: absolute; 
  bottom: 10%; /*Makes the tooltip box appear 10% blow the button*/
  left: 6%; /*Makes the tooltip box appear 6% to the left of the button*/
}

/*MARKET CSS*/
/*Adjusts the size of the canvas that displays the market item in the market page*/
#market_canvas {
  border: 4px solid black;
  width: 300px; /*Sets the width of the canvas to be 300px*/
  height: 300px; /*Sets the height of the canvas to be 300px*/
  background-color: rgb(255, 255, 255); /*Sets the background in the box to be white*/
}

/*Adjusts style for the div that contains the player's stats*/
.player_stats {
  position: fixed;
  width: 20%; /*Sets width of the div to be 20% of the page*/
  top: 4rem; /*Makes it start 4rem from the top, makes the nav bar visible*/
  background-image: url(../images/quest-paper.jpg); /*Background of the div*/
  height: 100%; /*Makes it cover the whole height of the page*/
  text-align: center; /*Centers all content in the div*/
  border-right: 0.2rem black double;
  overflow-y: auto; 
  overflow-x: hidden; /*Hides scroll bar in case any content is larger than the div*/
  z-index: 1; /*Makes it appear above the page but below the nav bar*/
}

/*Adjusts the styling for paragraph tags*/
p {
  font-family: "Lugrasimo", cursive;
  user-select: none; /*Makes all text in the html non selectable / non highlightable*/
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;

}

/*Adjusts styling for the wood image in the Stats section*/
.wood_plate_background {
  font-family: "Lugrasimo", cursive;
  width: 100%; 
  background-image: url(../images/wood_plate.avif);
  border: 0.2rem black double;
  border-radius: 0.2rem;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

/*Adjusts the setting for the word "Stats" in the wood image*/
.wood {
  font-size: 2rem;
  margin-bottom: 3rem;
}
 
/*Adjusts styling of the container which contains the strength stat and add button*/
.strength_add{
  display: flex; /*Makes the plus button and strength display fit in one line*/
  width: 20%;
  padding: 0;
  height: 5%;
}

/*Adjusts the style of the plus button*/
.add_button {
  margin-top: 8%;
  font-size: 0.8rem;
  width: 2rem;
  height: 2rem;
}

/*Adjusts styling of the container which contains the stamina stat and add button*/
.stamina_add{
  display: flex;
  width: 20%;
  padding: 0;
  height: 0%;
}

/*Adjusts styling of the container which contains the intelligence stat and add button*/
.intelligence_add{
  display: flex;
  width: 20%;
  padding: 0;
  height: 0%;
}

/*Adjusts the styling for the container containing all stat add buttons*/
.stats_add{
  position: relative;
  top: 20%;
  left: 40%; /*Makes the div centered to the page*/
  
}

/*Adjusts styling for container displaying skill points*/
.amount_skillp{
  position: relative;
  left: 2%;
  top: 10%;
  font-size: 2rem;
}

/*Adjusts the style of the pop up menu for skill points*/
.skill_point_menu {
  height: 0; /*Makes the height 0 (hidden) until the skill points menu button is pressed*/
  width: 100%; /*Covers the whole width of the screen*/
  position: fixed; 
  background-image: url(../images/quest-paper.jpg);
  overflow-x: hidden; /*Hides any x-axis scroll bars*/
  overflow-y: hidden; /*Hides any y-axis scroll bars*/
  transition: 0.9s; /*Makes the speed the menu pops up 0.9 seconds*/
  margin: auto;
  font-family: "Pixelify Sans", sans-serif;
  bottom: 0;
  left: 0;
  border-right: 0.1px solid black;
  text-align: center; /*Aligns all text to the center*/
  z-index: 5; /*Makes it go above all content in the page besides the nav bar*/
}

/*Adjusts styling of the close button in the skill points menu when hovered over*/
.skill_point_menu .closebtn:hover {
  color: rgb(255, 255, 255); /*Changes the color of the button from black to white when hovered over*/
  transform: rotate(0deg); /*Rotates the close button when hovered over*/
}

/*Adjusts the style of the close button */
.skill_point_menu .closebtn {
  display: block;
  position: absolute;
  text-decoration: none;
  top: 0;
  right: 25px; /*Adjusts the position of the close button in the skill point menu*/
  font-size: 3rem;
  margin-left: 50px;
  transition: 0.3s; /*Adjusts the speed the button rotates at*/
  padding: 0;
  margin: 0;
  color: black;
}

/*Adjusts the style for the toggles that display how many times you upgrade your stat*/
.upgrade_how_much{
  display: flex; /*Makes them all fit in one line*/
}

/*Adjusts the style of the div that contains the canvas in market section*/
.canvas_list {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 90%;
  height: 50%;
  margin-top: 10rem; /*Sets the canvas to be 10rem from the top*/
}

/*Styling for the image of the store*/
#market_store {
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 75%;
  top: 30%;
  width: 30rem;
  height: 30rem;
}

/*Styling for the dialogue from the salesperson*/
#market_text {
  display: block;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 90%;
  top: 30%;
  width: 30rem;
  height: 30rem;
}

/*Styling for the text appearing in the textbox*/
#random_text {
display: block;
position: absolute;
transform: translate(-50%,-50%);
left: 89%;
top: 53%;
width: 30rem;
height: 30rem;
font-size: 16px;
font-weight: bold;
text-align: center;
padding-top: 50px;
}

/*Adjusts style for the list of purchaseable items */
.item_list {
position: fixed; /*Keeps the position of the div fixed even when screen is scrolled*/
border: black solid 2px;
height: 100%;
width: 20rem;
justify-content: center;
text-align: center;
background-image: url(../images/quest-paper.jpg);
background-repeat: no-repeat; /*Makes the background image not repeat*/
background-size: cover; /*Makes the background image cover the whole div*/
background-position: center; 
background-attachment: fixed;
}

/*Adjusts style of the button of purchaseable items*/
.market_item {
width: 85%;
height: 5%;
}

/*Adjusts styling for the div that contains the item stats*/
.canvas_stats {
margin-right: 2rem;
width: 15rem;
margin: auto;
text-align: center;
}

/*Adjusts the style for the price when an item is clicked on*/
#market_price {
font-family: "Bebas Neue", sans-serif;
font-size: 1.8rem;
color: gold; /*Makes the text color gold*/
text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
  1px 1px 0 black; /*Makes the text look slightly more 3d by adding shadows*/
}

/*Adjusts the style for the damage when an item is clicked on*/
#dmg_display {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: rgb(201, 0, 0);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
  1px 1px 0 black;
}

/*Adjusts the style for the health points when an item is clicked on*/
#hp_display{
  font-family: "Bebas Neue", sans-serif;
  font-size: 2rem;
  color: rgb(201, 0, 0);
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, 1px 1px 0 black,
  1px 1px 0 black;
  margin-top: 1rem;
}

/*Adjusts the style for all images*/
img {
  user-select: none; /*Makes images non selectable / non highlightable*/
}

/*Adjusts the style of the icons that appear besides weapon stats*/
.market_icons {
    display: inline-block;
    height: 3rem;
    user-select: none;
}

/*Makes all span tags unselectable*/
span {
  user-select: none;
}

/*Adjusts the styling for the purchase button*/
#purchaseItem {
  justify-content: center;
  display: flex;
  margin: auto;
  width: 300px;
}

/*Adjusts style for the Gold text in Market section*/
#market_gold {
  font-size: 1.5rem
}

/*Adjusts styling for the play audio button*/
#play_audio_1 {
  width: 5rem;
}

/*Adjusts style for all heading tags used*/
h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  user-select: none;
}

/*Adjusts style of container that fits the Aura upgrade and toggle button*/
.aura_upgrade_div{
  display: flex; /*Makes the aura toggle and upgrade button fit on the same line*/
}

/*Adjusts style of Aura upgrade button*/
#aura_upgrade {
  width: 100%; /*Makes the aura upgrade button 100% of the width of the container containing it*/
  margin-left: 5.4%;
}

#turnAura {
  width: 30%;
  margin-right: 5.4%;
}

/*MODAL CSS*/
/*Adjusts the modal that darkens the screen*/
.modal {
  display: none;
  position: fixed;
  z-index: 1000; /*Makes the modal appear before anything else when opened*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 34, 31, 0.9);
  overflow: auto;
}

/*Adjusts the mini modal when help section is opened*/
.modal-content {
  background-color: #8B4513; /*Makes background color brown*/
  color: white; /*Makes text color white*/
  margin: 10% auto;
  padding: 30px;
  width: 80%;
  height: auto;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  border: 2px solid #DAA520;
}

/*Adjusts style of heading 2 tags in modal-content*/
.modal-content h2 {
  margin-top: 0;
  color: white;
}


#tutorial-content {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.6;
}

/*Adjusts the style of all buttons in the tutorial section*/
#help-button, #prev-tutorial, #next-tutorial, #close-tutorial {
  background-color: #CD853F;
  color: white;
  border: 1px solid #D2691E;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer; /*Turns the cursor into a pointing cursor when hovered over the button*/
  transition: 0.3s; /*Adjusts the speed in which the background color changes*/
}

/*Adjust the style of all buttons in tutorial section when hovered over*/
#help-button:hover, #prev-tutorial:hover, #next-tutorial:hover, #close-tutorial:hover {
  background-color: #DEB887;
}

/*Adjusts the style of the "Previous" button in the tutorial when it is disabled*/
#prev-tutorial:disabled {
  background-color: #A9A9A9;
  cursor: not-allowed;
}

/*Adjusts the tutorial modal regarding reincarnation*/
.modalReincarnation {
  display: none;
  position: fixed;
  z-index: 900;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-contentReincarnation {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  z-index: 900;
}
